body{
    background-color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.logo {
    margin-left: 540px;
    width: 197px;
    margin-top: 36px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: gray;
    list-style-type: none;
    display:flex;
    font-size: 25px;
    }
.nomes {
   
    margin-right: 240px;
}


h1 {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 39px;
    font-size: 40px;
}

.personagens {
    justify-content: center;
    width: 20%;
    border-radius: 18px;
    margin-left: 40px;
}

#botao {
background-color: black;
color: white;
width: 150px;
height: 36px;
margin-left: 553px;
margin-top: 60px;
}

#botao:hover {
background-color: white;
color: black;
}

.personagens:hover {
    border: 5px solid white;
}

.nomes:hover {
    color: white;
}